@import '../../styles/color.scss';
#articleList {
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  .article {
    width: 100%;
    padding: 18px 24px;
    border-bottom: 1px solid $themeBorderColor;
    &:last-child {
      border-bottom: none;
    }
    .info  {
      width: calc(100% - 104px);
      float: left;
      .tip {
        span {
          float: left;
          margin-right: 10px;
          color: $themeTipTextColor;
          font-size: 12px;
          line-height: 20px;
          &.point {
            color: rgb(178, 186, 194);
            font-weight: 900;
            font-size: 16px;
          }
        }
      }
      .title {
        margin-bottom: 10px;
        color: $themeTitleTextColor;
        font-size: 18px;
        font-weight: bold;
        line-height: 30px;
      }
      .tag {
        height: 20px;
        .el-tag {
          margin-right: 10px;
        }
      }
    }
    .img {
      width: 80px;
      height: 80px;
      float: left;
      margin-left: 24px;
      border-radius: 2px;
      overflow: hidden;
    }
  }
}